@import
	url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Fondo de pantalla */
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: "lato", sans-serif;
}
/* Fondo de pantalla */


/* Barra de navegación */

/* Barra de navegación */


/* Slack API */
.commentFooter{
}

.commentHead{
}

.commentContainer{
	
}

body .ui-button{
	margin-top: 10px;
}
/* Slack API */